<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/artists.css">
    <title></title>
  </head>
  <body>
    <h1>Artists</h1>
    <p>Choose an artist:</p>
      <form method="get" action="/artist">
        <select name="name">
          <option>Drake</option>
          <option>Kendrick Lamar</option>
          <option>Travis Scott</option>
          <option>Kid Cudi</option>
          <option>Khalid</option>
        </select>
        <input type="submit">
      </form>
  </body>
</html>
